.tag-color {
  background-color: red;
}

.custom .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: red;
  float: right;
}

.select2-selection__choice {
  background-color: red !important;
  color: white !important;
}
