
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Select2
@import "_select2";

// Tables
@import "_tables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "../../../node_modules/font-awesome/scss/font-awesome.scss";

@import "../../../node_modules/fullcalendar/dist/fullcalendar.css";

@import '../../../node_modules/select2/dist/css/select2.css';

@import '../../../node_modules/select2-bootstrap-theme/dist/select2-bootstrap.min.css';

@media(max-width: 992px) {
  .container-full-and-fluid {
    padding: 0px !important;
  }
}
